*{ /* reset das config. padroes de estilo */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    font-family: "Oxanium", cursive;
    background-color: black;
    color: #ffffff;
}

.cabecalho{
    display: flex;/* aplica-se nas tags pais, torna flexiveis as tags filhas. a direção padrão é "row" */
    background-color: aqua;
    justify-content: center;
}

.selecao-de-personagens{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    gap: 30px;
}

.lista-de-personagens{
    display: flex;
    background-color: brown;
    flex-wrap: wrap;/* quando tiver mais espaço, vai se feita uma quebra de linha */
    gap: 30px;/* espaçamento entre os itens */
    justify-content: center;
}

.personagens{
    background-color: darkslategray;
    display: flex;
    flex-direction: column;/* como o padrão é "row", os elementos ficam um ao lado do outro. No caso, com "column", fica um embaixo do outro */
    align-items: center;
    max-width: 585px;
    gap: 25px;
}

.titulo{
    font-size: 20px;
    letter-spacing: 4px;/* espaço entre as letras */
    text-transform: uppercase; /* tudo maiúsculo */
    border-bottom: 2px solid #47f4ff;/* borda do rodapé */
    width: 100%;
    text-align: center;
}

.personagem img{
    width: 100%;
    height: 100%;
}

.personagem.selecionado{ /* uma tag com duas classes = digitar as duas sem espaço
no caso, nós adicionamo a class ".selecionado" através do js, já que não é fixo. no html, a class é só uma ("personagem") */
    box-shadow: 0px 0px 24px 5px #0271f7;
}

